@media all and (max-width: 960px) {
    .container{
        width:100%;
    }
    .headers{
        padding-left: 5%;
        padding-right: 5%;
    }
    .header-top{
        flex-wrap: wrap;
    }
    .header-bot{
        flex-wrap: wrap;
    }
    .intros{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer-container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .slider{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .services{
        justify-content: space-around;
    }
    .footer-container{
        padding-right: 3%;
        padding-left: 3%;
    }
    html, body { overflow-x: hidden; }

}
@media all and (max-width: 820px) {
    .header-bot-navigation{
        display: none;
    }
    .header-bot{
        justify-content: space-around;
    }
}
@media all and (max-width: 550px) {
    .header-top{
        flex-direction: column;
        justify-content: space-around;
    }
}
@media all and (max-width: 440px) {
    .slider-text-header{
        text-align: center;
    }
}
@media all and (max-width: 400px) {
    .slider-logo{
        width: 320px;
        height: 255px;
        background-size: cover;
    }
    .slider-logo-image{
        top:13px;
        left:12px;
        position: absolute;
        width:296px;
        height:166px;
        background-size: cover;
    }
}